/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~font-awesome/css/font-awesome.css';

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  font-size: 12px;
}

.svg {
  overflow: visible;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.app {
  display: flex;
  background: #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  height: 90vh;
}

header {
  padding: 5px;
  background: rgb(246, 246, 246);
  border-bottom: 1px solid #dcdcdc;
}

#drag {
  background-color: rgba(247, 247, 247, 0.945);
  flex-direction: row;
  justify-content: center;
  height: 10em;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.column.right {
  flex-shrink: 0;
  width: 350px;
  background: #fff;
  border-right: 1px solid #dcdcdc;
  height: 100vh;
}

.column.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.file {
  padding: 5px 10px;
  border-bottom: 1px solid #dcdcdc;
}

.file:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.commit {
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.commits {
  overflow: scroll;
  height: 90vh;
}

.file-header,
.commit-header {
  display: flex;
  justify-content: space-between;
}

.commit-id,
.commit-header-committer,
.commit-header-date {
  color: rgb(168, 168, 168);
}

.commit-meta-data {
  padding: 15px;
  border-bottom: 1px solid #dcdcdc;
}

.commit-info {
  overflow: scroll;
  height: 60vh;
}

.draggable {
  -webkit-app-region: drag;
}

.code {
  font-family: Consolas;
}

.muted {
  color: rgb(168, 168, 168);
}

.patch {
  border-bottom: 1px solid #dcdcdc;
}

.patch-toggle {
  padding: 10px;
  font-size: 11px;
  cursor: pointer;
}

.patch-toggle .blue {
  color: rgb(0, 200, 249);
}

.commit-info-message {
  padding: 10px;
}

.patches-info {
  padding: 10px;
  font-size: 11px;
  border-bottom: 1px solid #dcdcdc;
}

.files-info {
  padding: 29px 10px 10px;
  font-size: 11px;
  border-bottom: 1px solid #dcdcdc;
}

.commit-form {
  padding: 15px;
  border-bottom: 1px solid #dcdcdc;
}

.commit-form .form-buttons {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.align-self-center {
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.login-github {
  padding: 100px;
  border-radius: 5px;
}

.full-height {
  height: 90vh;
}

.padding-30 {
  padding: 30px;
}

.scroll {
  overflow: scroll;
  height: 80vh;
}

.remote-repo {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

[data-toggle="buttons"]>.remote-repo>.btn>input[type="radio"],
[data-toggle="buttons"]>.remote-repo>.btn>input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #788288 !important;
  background-color: #ebeef4;
  border-color: #b9c6d0;
}

.btn-default {
  color: #788288 !important;
  background-color: #fcfcfd;
  border-color: #d2dae1;
  border-bottom-color: #cbd5dd;
  -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
  box-shadow: 0 1px 1px rgba(90,90,90,0.1);
}

.form-footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   color: white;
   text-align: center;
   padding: 15px;
   border-top: 1px solid #dcdcdc;
   z-index: 1;
}

.justify-content-flex-end {
  justify-content: flex-end
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #788288 !important;
  background-color: #ebeef4;
  border-color: #b9c6d0;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-deletion,
.hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.Repo {
  overflow-y: auto;
  max-height: 900px;
}

button {
  cursor: pointer !important;
}

#check {
  width: 100px;
  height: 50px;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
  content: '✖';
  padding-left: 5px;
}

#push {
  padding: 20px;
  color: rgb(0, 0, 0);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#push:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.login-page {
  width: 400px;
  margin: 0 auto;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

 .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
 .btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
 .btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
 .btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
 .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
 .btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
 .btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
 .btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
 .btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
 .btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
 .btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
 .btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
 .btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
 .btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
 .btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
 .btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
 .btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
 .btn-github .badge{color:#444;background-color:#fff}


 .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-block {
  display: block;
}