/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~font-awesome/css/font-awesome.css';

body {
  position: relative;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  font-size: 12px;
}

.svg {
  overflow: visible;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.app {
  display: flex;
  background: #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  height: 90vh;
}

header {
  padding: 5px;
  background: rgb(246, 246, 246);
  border-bottom: 1px solid #dcdcdc;
}

#drag {
  background-color: rgba(247, 247, 247, 0.945);
  flex-direction: row;
  justify-content: center;
  height: 10em;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.column.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.commit {
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.commits {
  overflow: scroll;
  height: 90vh;
}

.commit-header {
  display: flex;
  justify-content: space-between;
}

.commit-id,
.commit-header-committer,
.commit-header-date {
  color: rgb(168, 168, 168);
}

.commit-meta-data {
  padding: 15px;
  border-bottom: 1px solid #dcdcdc;
}

.commit-info {
  overflow: scroll;
  height: 60vh;
}

.draggable {
  -webkit-app-region: drag;
}

.code {
  font-family: Consolas;
}

.muted {
  color: rgb(168, 168, 168);
}

.patch {
  border-bottom: 1px solid #dcdcdc;
}

.patch-toggle {
  padding: 10px;
  font-size: 11px;
  cursor: pointer;
}

.patch-toggle .blue {
  color: rgb(0,200,249)
}

.commit-info-message {
  padding: 10px;
}

.patches-info {
  padding: 10px;
  font-size: 11px;
  border-bottom: 1px solid #dcdcdc;
}

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-deletion,
.hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.Repo {
  overflow-y: auto;
  max-height: 900px;
}
